{% extends 'prototype.html' %}
{% load static %}


{% block titlen %}Регистрация{% endblock %}
{% block content %}


<div class="register-container">
    
<form class="register-form" method="post"> 
    <h2> Регистрация</h2>
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Зарегистрироваться</button></p>
</form>
</div>

{% endblock %}